In [11]:
import pandas as pd
import numpy as np
import sqlalchemy as db
from sqlalchemy import text
import matplotlib.pyplot as plt
import dataframe_image as dfi
import redis
import json

In [12]:
accounts = ['fund2', 'fund3']
# initial_balance = {
#     'mirrorx1': 79488.83,
#     'mirrorx2': 80495.83,
#     'mirrorx3': 71525.42,
#     'mirrorx4': 71232.08,
#     'team': 71701.91,
#     'office': 67188.34,
#     'algoforce1': 74193.57,
#     'algoforce5': 66912.07,
#     'fund2': 47603.88,
#     'fund3': 48618.83
#     }
initial_balance = {
    'mirrorx1': 78171.45,
    'mirrorx2': 78879.04,
    'mirrorx3': 94077.01,
    'mirrorx4': 93032.39,
    'team': 94856.10,
    'office': 66293.43,
    'algoforce1': 96663.75,
    'algoforce5': 66464.70,
    'fund2': 46544.94,
    'fund3': 47669.61
    }

withdrawal = {
    'mirrorx1': 3500.0,
    'mirrorx2': 3500.0,
    'mirrorx3': 3500.0,
    'mirrorx4': 3500.0,
    'team': 3500.0,
    'office': 1500.0,
    'algoforce1': 3500.0,
    'algoforce5': 1500.0,
    'fund2': 0.0,
    'fund3': 0.0
}

previous_pnl = {
    'mirrorx1': 0.0, #2319.703432,
    'mirrorx2': 0.0, #1556.698403,
    'mirrorx3': 0.0,
    'mirrorx4': 0.0,
    'team': 0.0,
    'office': 0.0, #-8690.807613,
    'algoforce1': 0.0,
    'algoforce5': 0.0, #-8313.758337,
    'fund2': 0.0, #-791.846893,
    'fund3': 0.0
}

In [13]:
h = 'localhost'
p = 6379
r = redis.Redis(host=h, port=p)

def getRedis(param):
        try:
            v = r.get(param)
            val = json.loads(v)
            return val
        except Exception as e:
            print(e)

def wallet_balance(acc):
    open_trades = getRedis(f'{acc}_live')
    open_trades = pd.DataFrame(open_trades)
    open_trades['unrealizedProfit'] = open_trades['unrealizedProfit'].astype(float)
    unrealizedPnl = open_trades['unrealizedProfit'].sum()
    return unrealizedPnl

In [14]:
def get_account_data(account):
    conn = db.create_engine('mysql+mysqldb://247team:password@192.168.50.238:3306/trades')
    query = f"SELECT * FROM {account};"
    df = pd.read_sql_query(text(query), conn.connect())
    df['time'] = pd.to_datetime(df['time'])
    df.set_index('time', inplace=True)
    df.sort_index(inplace=True)
    df['realizedPnl'] = df['realizedPnl'].astype(float)
    df['commission'] = df['commission'].astype(float)
    df['realizedPnl'] = df['realizedPnl'] - df['commission']
    df = df.loc['2025-09-01':]
    df['account'] = account
    return df

In [15]:
def max_drawdown(frame):
    frame['peaks'] = frame['running_bal'].cummax()
    frame['drawdown'] = (frame['running_bal'] - frame['peaks']) / frame['peaks']
    return frame['drawdown'].min()

In [16]:
drawdowns = []
returns = []
raw_data = []
for account in accounts:
    init_bal = initial_balance[account] - withdrawal[account] + previous_pnl[account]
    c = get_account_data(account)
    upnl = wallet_balance(account)
    raw_data.append(c)
    d = c.copy()
    d = d.groupby(pd.Grouper(freq='D'))['realizedPnl'].sum().to_frame(name='pnl')
    d.iloc[-1] = d.iloc[-1] + upnl
    d['running_bal'] = d['pnl'].cumsum() + init_bal
    dd = d.groupby(pd.Grouper(freq='ME')).apply(max_drawdown).to_frame(name=account)
    drawdowns.append(dd)

    month_pnl = d.groupby(pd.Grouper(freq='ME'))['running_bal'].agg(['first', 'last'])
    month_pnl[f'{account}'] = (month_pnl['last'] - month_pnl['first']) / month_pnl['first']
    returns.append(month_pnl[[f'{account}']])

all_daily = []
for account, c in zip(accounts, raw_data):
    init_bal = initial_balance[account] - withdrawal[account] + previous_pnl[account]
    upnl = wallet_balance(account)
    d = c.groupby(pd.Grouper(freq='D'))['realizedPnl'].sum().to_frame(name=account)
    d.iloc[-1] = d.iloc[-1] + upnl
    all_daily.append(d)

combined = pd.concat(all_daily, axis=1).fillna(0)
combined['pnl'] = combined.sum(axis=1)
portfolio_init = sum(initial_balance[a] - withdrawal[a] + previous_pnl[a] for a in accounts)
combined['running_bal'] = combined['pnl'].cumsum() + portfolio_init
combined_dd = combined.groupby(pd.Grouper(freq='ME')).apply(max_drawdown).to_frame(name='combined')
drawdowns.append(combined_dd)

combined_month_pnl = combined.groupby(pd.Grouper(freq='ME'))['running_bal'].agg(['first', 'last'])
combined_month_pnl['combined'] = (combined_month_pnl['last'] - combined_month_pnl['first']) / combined_month_pnl['first']
returns.append(combined_month_pnl[['combined']])

In [17]:
drawdown = pd.concat(drawdowns, axis = 1)
drawdown.index = drawdown.index.strftime("%b-%Y")
drawdown.index.name = 'Month'
drawdown.columns = [x.upper() for x in drawdown.columns]
rets = pd.concat(returns, axis = 1)
rets.index = rets.index.strftime("%b-%Y")
rets.index.name = 'Month'
rets.columns = [x.upper() for x in rets.columns]

In [18]:
drawdown

            FUND2     FUND3  COMBINED
Month
Sep-2025 -0.01901 -0.021128 -0.016295

In [19]:
rets

             FUND2     FUND3  COMBINED
Month
Sep-2025 -0.011697 -0.015641 -0.014041

In [20]:
# TOTAL PnL PER SYMBOL
total_dollar = pd.concat(raw_data)
total_dollar.sort_index(inplace=True)
per_symbol = total_dollar.groupby(['account', 'symbol'])['realizedPnl'].sum()
per_symbol = per_symbol.reset_index().pivot_table(index = 'symbol', columns = 'account').fillna(0.0)
per_symbol.columns = per_symbol.columns.droplevel(0)
per_symbol.columns.name = None
per_symbol['TOTAL'] = per_symbol.sum(axis = 1)
print("Per Symbol PnL")
print(per_symbol)

Per Symbol PnL
               fund2        fund3        TOTAL
symbol
ADAUSDT  -264.025063    99.753084  -164.271979
APTUSDT    44.209830  1545.150859  1589.360689
ATOMUSDT  -12.754260   320.507945   307.753685
AVAXUSDT -409.488048     0.000000  -409.488048
BNBUSDT  -264.625120    -1.325318  -265.950438
BTCUSDT   125.322013   189.702159   315.024171
DOTUSDT   134.111714 -1521.911131 -1387.799417
ETHUSDT   -69.432183     0.000000   -69.432183
FILUSDT  -119.585227 -1680.106918 -1799.692145
LINKUSDT   -5.492122    54.045952    48.553830
LTCUSDT   300.348939     0.000000   300.348939
NEARUSDT   29.784175   981.829632  1011.613807
SOLUSDT   -63.195355    26.755824   -36.439531
TRXUSDT  -145.171172     0.000000  -145.171172
UNIUSDT  -400.114660  -351.491091  -751.605752
VETUSDT     2.348949   246.497265   248.846214
XRPUSDT     0.000000  -346.873782  -346.873782