In [2]:
import json
import pandas as pd
import redis

h = 'localhost'
p = 6379
r = redis.Redis(host=h, port=p)

In [3]:
def getRedis(param):
    try:
        v = r.get(param)
        val = json.loads(v)
        return val
    except Exception as e:
        print(e)

In [ ]:
tradesheet = getRedis('mirrorx3_tradesheet')
tradesheet = pd.DataFrame(tradesheet['tradeslist'])
tradesheet.to_csv('mirrorx3_tradesheet.csv', index=False)
print(tradesheet)

In [1]:
import os
import pandas as pd
import sqlalchemy as sa
from sqlalchemy import text

MYSQL_DSN: str = os.getenv(
    "TRADES_DSN",
    "mysql+mysqldb://247team:password@192.168.50.238:3306/trades",
)
engine = sa.create_engine(MYSQL_DSN, pool_pre_ping=True)

def show_tables(account: str, start: str, end: str) -> pd.DataFrame:
    """
    Return trades in [start, end], realizedPnl net of commission, indexed by 'time'.
    """
    sql = (
        "SELECT * FROM `TEAM` ORDER BY `TIME` DESC LIMIT 300;"
    )
    with engine.connect() as conn:
        df = pd.read_sql_query(text(sql), conn, params={"start": start, "end": end})
        df.to_csv("mirrorx3_sql_trades.csv", index=True)
        return df
    
tables = show_tables(
    account="fund2",
    start="2025-09-01T00:00:00",
    end="2025-09-29 12:00:28",
)
print(tables)

      symbol         id      orderId  side     price    qty  realizedPnl  \
0    FILUSDT  875973473  33788258123   BUY     2.165  230.1            0
1    FILUSDT  875973472  33788258123   BUY     2.165    2.4            0
2    FILUSDT  875973471  33788258123   BUY     2.165    2.5            0
3    FILUSDT  875973470  33788258123   BUY     2.165    3.4            0
4    FILUSDT  875973469  33788258123   BUY     2.165    2.6            0
..       ...        ...          ...   ...       ...    ...          ...
295  VETUSDT  515754410  21516916045  SELL  0.022017    749  -0.38935324
296  VETUSDT  515754409  21516916045  SELL  0.022017    454  -0.23600316
297  VETUSDT  515754408  21516916045  SELL  0.022018  11466  -5.94891356
298  VETUSDT  515754407  21516916045  SELL  0.022018   1560  -0.80937599
299  VETUSDT  515754406  21516916045  SELL  0.022018   2475  -1.28410614

    marginAsset    quoteQty  commission commissionAsset                time  \
0          None    498.1665  0.19926660            USDT 2025-09-28 16:01:05
1          None      5.1960  0.00207840            USDT 2025-09-28 16:01:05
2          None      5.4125  0.00216499            USDT 2025-09-28 16:01:05
3          None      7.3610  0.00294440            USDT 2025-09-28 16:01:05
4          None      5.6290  0.00225160            USDT 2025-09-28 16:01:05
..          ...         ...         ...             ...                 ...
295        None   16.490733  0.00659629            USDT 2025-09-27 08:01:21
296        None    9.995718  0.00399828            USDT 2025-09-27 08:01:21
297        None  252.458388  0.10098335            USDT 2025-09-27 08:01:21
298        None   34.348080  0.01373923            USDT 2025-09-27 08:01:21
299        None   54.494550  0.02179782            USDT 2025-09-27 08:01:21

    positionSide  buyer  maker
0           LONG      1      0
1           LONG      1      0
2           LONG      1      0
3           LONG      1      0
4           LONG      1      0
..           ...    ...    ...
295         LONG      0      0
296         LONG      0      0
297         LONG      0      0
298         LONG      0      0
299         LONG      0      0

[300 rows x 15 columns]