In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
from sqlalchemy import text
import matplotlib.pyplot as plt
import dataframe_image as dfi

In [2]:
accounts = ['fund2', 'fund3']
start_date = '2025-10-01'

In [3]:
def get_account_data(account, db):
    """
    Databases:
    balance -- fund2_balance
    trades -- fund2
    earnings -- fund2_earnings
    transaction_history -- fund2_transaction
    """
    table_name = {
        "balance": f"{account}_balance",
        "trades": f"{account}",
        "earnings": f"{account}_earnings",
        "transaction_history": f"{account}_transaction",
    }
    tb = table_name[f"{db}"]
    conn = sql.create_engine(f'mysql+mysqldb://247team:password@192.168.50.238:3306/{db}')
    query = f"SELECT * FROM {tb};"
    df = pd.read_sql_query(text(query), conn.connect())

    if db == "balance":
        df['datetime'] = pd.to_datetime(df['datetime'])
        df = df[["datetime", "overall_balance"]]
        df.columns = ['datetime', 'dollar']
        df["dollar"] = df["dollar"].astype(float)
        df["type"] = "balance"
        df["account"] = account
    elif db == "trades":
        df["time"] = pd.to_datetime(df["time"])
        df["realizePnl"] = df["realizedPnl"].astype(float) - df["commission"].astype(float)
        df = df[["time", "realizedPnl"]]
        df.columns = ["datetime", "dollar"]
        df["dollar"] = df["dollar"].astype(float)
        df["type"] = "realizedpnl"
        df["account"] = account
    elif db == "transaction_history":
        df["time"] = pd.to_datetime(df["time"])
        df = df[df["incomeType"].isin(["FUNDING_FEE"])]
        df = df[["time", "incomeType", "income"]]
        df.columns = ["datetime", "type", "dollar"]
        df["dollar"] = df["dollar"].astype(float)
        df["account"] = account
    elif db == "earnings":
        df["time"] = pd.to_datetime(df["time"])
        df = df[["time", "rewards"]]
        df.columns = ["datetime", "dollar"]
        df["dollar"] = df["dollar"].astype(float)
        df["type"] = "earnings"
        df["account"] = account
    else:
        df= None
    return df

In [4]:
data = []
initial_balance = {}
for account in accounts:
    for db in ["trades", "earnings", "transaction_history"]:
        temp = get_account_data(account, db)
        data.append(temp)
    balance = get_account_data(account, "balance")
    initial_balance[account] = balance.loc[0, "dollar"]

df = pd.concat(data, axis = 0)
df.sort_values("datetime", inplace=True)
df = df[df["datetime"] >= start_date]
df.reset_index(inplace=True, drop=True)
df.set_index("datetime", inplace = True)
df

ModuleNotFoundError: No module named 'MySQLdb'

In [ ]:
df["dollar"] = df["dollar"].astype(float)
df

In [ ]:
rf = df.groupby(pd.Grouper(freq='1h'))["dollar"].sum().to_frame(name = 'pnl')
rf

In [ ]:
rf.loc["2025-09-30 23:59:59"] = {"pnl": 0.0}
rf

In [ ]:
rf.index = pd.to_datetime(rf.index)
rf.sort_index(inplace=True)

In [ ]:
rf["running_bal"] = rf["pnl"].cumsum() + 93208.8505
rf

In [ ]:
rf["peak"] = rf["running_bal"].cummax()
rf["dd"] = (rf["running_bal"] - rf["peak"]) / rf["peak"]
rf["dd"].min()      # no upnl